<div class="main-content-section">
    <div class="container">
        <h5><b>People</b></h5>
        <hr>
        <div class="row people-card">
        <div class="col-md-5">
                <img src="./../../../assets/img/people1.png" style="width: 300px; height: 300px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
            </div>
            <div class="col-md-7">
                <h5>Afshin Farmarzi</h5>
                <p>Afshin received his B.Sc. in Mechanical Engineering from university of Guilan and M.Sc. in Civil Engineering from Iran University of Science and Technology. He is currently pursuing Ph.D degree in Architectural Engineering at Illinois Tech. His research interest mainly centers on optimization theory and high-performance methods and their application on building energy performance and optimal control of HVAC systems. Afshin is a member of professional societies, including American Society of Heating, Refrigeration, and Air Conditioning Engineers (ASHRAE), American Society of Civil Engineers (ASCE), and Chicago Building Performance Simulation Association (CHIBPSA).</p>
            </div>
        </div>
        <div class="row people-card">
            <div class="col-md-7">
                <h5>Behzad Salimian Rizi</h5>
                <p>Behzad received his B.Sc in Mechanical Engineering in 2009 from Shahrekord University and his M.Sc in Mechanical Engineering in 2012 from Iran University of Science and Technology.
                He is currently pursuing his Ph.D degree in Civil Engineering under the supervision of professor Mohammad Heidarinejad at Illinois Institute of Technology.
                His research interest mainly focuses on turbomachinery, control of HVAC system, application of Machine learning in engineering field and GIS.
                Behzad is a member of American Society of Heating, Refrigeration, and Air Conditioning Engineers (ASHRAE) and currently he has been selected as a board member of ASHRAE IIT Student Branch.
                His hobbies include playing volleyball, swimming, tennis and cycling.</p>
            </div>
            <div class="col-md-5">
                <img src="./../../../assets/img/people2.jpg" style="width: 300px; height: 300px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
            </div>
        </div>
        <div class="row people-card">
            <div class="col-md-5">
                <img src="./../../../assets/img/people3.JPG" style="width: 300px; height: 300px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
            </div>
            <div class="col-md-7">
                <h5>Insung Kang</h5>
                <p>Insung received his B.S. in School of Architecture & Building Science in 2015 and M.E. in Architectural Engineering in 2017, both from Chung-Ang University in South Korea. He is currently pursuing his Ph.D. degree in Civil Engineering under the supervision of Dr. Mohammad Heidarinejad and Dr. Brent Stephens at Illinois Institute of Technology. His research interest mainly focuses on building energy simulation, control of HVAC system, indoor environment, and CFD analysis. 
                Insung is a member of professional societies, including American Society of Heating, Refrigeration, and Air Conditioning Engineers (ASHRAE), American Society of Civil Engineers (ASCE), and Chicago Building Performance Simulation Association (CHIBPSA). His hobbies include playing tennis, basketball, swimming, as well as weight lifting.</p>
            </div>
        </div>
    </div>
</div>