<div class="content">
    <mdl-layout mdl-layout-mode="waterfall">
        <mdl-layout-header style="background: #fff; color: #000;">
            <mdl-layout-header-row>
                <mdl-layout-title><span class="title">Mohammad Heidarinejad</span><br><span class="subTitle">Dept. of Architectural Engineering, IIT chicago</span></mdl-layout-title>
            </mdl-layout-header-row>
            <mdl-layout-header-row>
                    <nav class="mdl-navigation mdl-layout--large-screen-only" style="margin-left: -25px">
                        <a class="mdl-navigation__link" routerLink="home">Home</a>
                        <a class="mdl-navigation__link" routerLink="courses">Courses</a>
                        <a class="mdl-navigation__link" routerLink="research">Research</a>
                        <a class="mdl-navigation__link" routerLink="presentations">Presentations</a>
                        <a class="mdl-navigation__link" routerLink="softwares">Softwares</a>
                        <a class="mdl-navigation__link" routerLink="people">People</a>
                        <a class="mdl-navigation__link" href="#contact">Contact</a>
                    </nav>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <mdl-layout-content>
            
        </mdl-layout-content>
    </mdl-layout>
</div>
<div class="page-content">
    <router-outlet></router-outlet>                    
    <app-footer></app-footer>
</div>

