<div class="main-content-section">
    <div class="container row">
        <div class="col-md-12">
            <h5><b>Courses</b></h5>
            <hr>
            <div class="course">
                <b>Fall 2019</b><a [routerLink]="['courseDetails','CAE 526']"><i> CAE 465/526: Building Energy Conservation Technologies </i></a>
                <p>Identification of the optimal energy performance achievable with various types of buildings and service systems. Reduction of infiltration. Control systems and strategies to achieve optimal energy performance. Effective utilization of daylight, heat pumps, passive and active solar heaters, heat storage and heat pipes in new and old buildings. </p>
            </div>

            <div class="course">
                <b>Spring 2019</b><a href="https://firebasestorage.googleapis.com/v0/b/profwebsite-19dce.appspot.com/o/courses%2Fcae_464_s19_syllabus.pdf?alt=media&token=7909e24b-d626-498f-bdb0-1c4075e2d653" target="new"><i> CAE 464: HVAC Systems Design </i></a>
                <p>Study of the fundamental principles and engineering procedures for the design of heating, ventilating, and air conditioning systems; HVAC system characteristics; system and equipment selection; duct design and layout. Attention is given to energy conservation techniques and computer applications. </p>
            </div>

            <div class="course">
                <b>Fall 2018</b><a href="https://firebasestorage.googleapis.com/v0/b/profwebsite-19dce.appspot.com/o/courses%2Fcae_526_f18_syllabus.pdf?alt=media&token=8c760ae1-6b32-472d-842e-748849515b15" target="new"><i> CAE 465/526: Building Energy Conservation Technologies </i></a>
                <p>Identification of the optimal energy performance achievable with various types of buildings and service systems. Reduction of infiltration. Control systems and strategies to achieve optimal energy performance. Effective utilization of daylight, heat pumps, passive and active solar heaters, heat storage and heat pipes in new and old buildings. </p>
            </div>

            <div class="course">
                <b>Spring 2018</b><a href="https://firebasestorage.googleapis.com/v0/b/profwebsite-19dce.appspot.com/o/courses%2Fcae_553_sp18_syllabus.pdf?alt=media&token=c94e00d7-a21b-4108-a818-0ef584760d2e" target="new"><i> CAE 553: Measurement and Instrumentation in Architectural Engineering </i></a>
                <p>Hands-on experience with energy and indoor air quality measurements in buildings including experimental design, data analysis, and experimental statistics. Measurements and techniques covered include: thermal performance (e.g., thermal conductivity and resistance, heat flux, and temperature); fluid flows and HVAC characteristics (e.g., velocity, pressure, and airflow); energy performance (e.g., current, voltage, and power draw); whole building diagnostics (e.g., blower door and duct blaster); and indoor air quality (e.g., tracer gas techniques for air exchange, particle measurements, and gas measurements). Course combines lectures and field measurements in buildings on campus. </p>
            </div>
        </div>
    </div>
</div>