/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'mdbootstrap/css/bootstrap.min.css';
@import '@mdi/font/css/materialdesignicons.css';

body {
    background-color: rgba(245,245,245,0.9);
    text-align: justify;
}

.main-content-section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 12px;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
}

.mdl-layout__container {
    position: relative;
}

.mdl-layout__content {
    overflow-y: auto;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: block;
    }
    .mdl-layout__header-row {
        overflow-x: scroll;
    }
    .mdl-layout-title {
        margin-left: -50px;
    }
    .main-content-section {
        margin: 0px;
        padding: 0px;
    }
    .main-content-section .container {
        margin: 0px;
        padding: 10px;
    } 
}

@media screen and (max-width: 1024px) { 
    .carousel-item {
        height: 450px;   
        margin-top: 200px;
    }        
}

@media screen and (min-width: 1024px) { 
    .carousel-item {
        height: 450px;   
        margin-top: -50px;
    }        
}

.mdl-layout.is-small-screen .mdl-layout--large-screen-only {
    display: inline-flex;
    display: -webkit-inline-flex;
}