<div class="main-content">
    <div class="row">
        <div class="col-md-9">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                            <rect width="100%" height="100%" fill="rgba(245,245,245,0)" /></svg>
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="./../../assets/img/img3.jpg" width="200" height="250">
                                    </div>
                                    <div class="col-md-8">
                                        <h5>Armour R&D Project Aims to Reduce Energy Use to Heat Alumni Hall.</h5>
                                        <p>Afshin Faramarzi, a Ph.D. student in Civil Engineering, was awarded the 2018-2019 Jende Augustine Hsu Scholarship. The Jende Augustine Hsu Scholarship was established in 2017 with a generous gift from Yen Der (Robert) Tsao, with the goal of helping to provide a graduate education in civil engineering to those for whom it might not otherwise be possible. Dr. Mohammad Heidarinejad is Afshin’s advisor.</p>
                                        <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#" role="button">know more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                            <rect width="100%" height="100%" fill="rgba(245,245,245,0)" /></svg>
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="./../../assets/img/img3.jpg" width="200" height="250">
                                    </div>
                                    <div class="col-md-8">
                                        <h5>Armour R&D Project Aims to Reduce Energy Use to Heat Alumni Hall.</h5>
                                        <p>Afshin Faramarzi, a Ph.D. student in Civil Engineering, was awarded the 2018-2019 Jende Augustine Hsu Scholarship. The Jende Augustine Hsu Scholarship was established in 2017 with a generous gift from Yen Der (Robert) Tsao, with the goal of helping to provide a graduate education in civil engineering to those for whom it might not otherwise be possible. Dr. Mohammad Heidarinejad is Afshin’s advisor.</p>
                                        <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#" role="button">know more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-3" style="height: 400px; overflow-y: auto">
            <a class="twitter-timeline" href="https://twitter.com/mheidarinejad?ref_src=twsrc%5Etfw">Tweets by mheidarinejad</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <mdl-card mdl-shadow="2">
                <mdl-card-title>
                    <h2 mdl-card-title-text style="text-align: left">Project and online courses</h2>
                </mdl-card-title>
                <mdl-card-supporting-text>
                    <h5>Projects</h5>
                    <ul style="list-style-type: none">
                        <li>
                            <p>Structural Engineering</p>
                            <p>Civil Construction Basics</p>
                            <p>Soil Mechanics</p>
                            <p>Structural Engineering</p>
                        </li>
                    </ul>
                    <h5>MOOC</h5>
                    <ul style="list-style-type: none">
                        <li>
                            <p>Advanced Studies</p>
                            <p>Environmental Engineering</p>
                            <p>Construction - 1</p>
                            <p>Construction - 2</p>
                        </li>
                    </ul>
                </mdl-card-supporting-text>
                <mdl-card-actions mdl-card-border>
                    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
                </mdl-card-actions>
            </mdl-card>
        </div>

        <div class="col-md-4">
            <mdl-card mdl-shadow="2">
                <mdl-card-title>
                    <h2 mdl-card-title-text>Resource Material</h2>
                </mdl-card-title>
                <mdl-card-supporting-text>
                    <h5>Videos</h5>
                    <ul style="list-style-type: none">
                        <li>
                            <p>Civil Engineering Basics</p>
                            <p>Sand Particles Analysis</p>
                        </li>
                    </ul>
                    <h5>Articles</h5>
                    <ul style="list-style-type: none">
                        <li>
                            <p>Autocad Design Basics</p>
                            <p>Fluid Mechanics</p>
                            <p>Surveying</p>
                            <p>Transportation Engineering</p>
                        </li>
                    </ul>
                </mdl-card-supporting-text>
                <mdl-card-actions mdl-card-border>
                    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
                </mdl-card-actions>
            </mdl-card>
        </div>

        <div class="col-md-4">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="mohammad-heidarinejad-5b6283a7"><a class="LI-simple-link" href='https://www.linkedin.com/in/mohammad-heidarinejad-5b6283a7?trk=profile-badge'>Mohammed Heidarinejad</a></div>
        </div>
    </div>
        
        <div class="container contact" align="center" id="contact">
            <h4>Contact us @</h4>
            <p>Alumina Memorial Hall <br>
                3201 S Dearborn St Room 204 <br>
                Chicago, IL 60616 <br>
                Office: (312) 567-3426 <br>
                muh182@iit.edu
            </p>
        
        </div>
            
</div>


<!-- <div class="row" id="courses">
    <div class="section-header col-md-12">
        <h3>Courses</h3>
    </div>
    
    <div class="col-md-4" *ngFor="let course of courses">
        <img src="./../../assets/img/img2.png" height="100" width="100">
        <p>{{course.courseName}}</p>
        <a href="{{course.courseUrl}}" target="new">Download Course Information</a>
    </div>
</div>

<div class="container row" id="people">
    <div class="section-header">
        <h3>People</h3>
    </div>
    
    <div class="col-md-4">

    </div>
</div>

<div class="container row" id="projects">
    <div class="section-header">
        <h3>Projects</h3>
    </div>
    
    <div class="col-md-4">

    </div>
</div>
 -->
