.main-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main-content .col-md-6 {
    padding: 0px;
}

.card-square-img {
    background-image: url("./../../assets/img/img1.png");
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

.card-square {    
    width: 100%;
    height: 400px;
    font-size: 14px;
}

.section-header {
    padding: 20px;
}

.carousel-inner {
    padding-left: 20px;
}

.carousel-caption {
    color: #333;
    left: 6%;
    right: 6%;
}

.intro-img {
    margin-left: -100px;
}

.contact {
    padding: 50px;
    margin-top: 25px;
    background-color: rgba(245, 245, 245, 1);
}

.contact p {
    font-size: 16px;
}

.mdl-card {
    width: auto;
}